{{ include('flash_messages.html.twig') }}

<table class="table table-striped sortable" data-turbo="false">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>User</th>
        <th>Name</th>
        <th>Tenant</th>
        <th>Email</th>
        <th># logins</th>
        <th>Last login</th>
        <th>Access level</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr{% if not user.isVisible %} class="js-hidden-user d-none" style="background-color: #fee"{% endif %}>
            <td {{ stimulus_controller('modal-form') }}>
                <button class="btn btn-sm btn-success"
                        data-action="modal-form#open"
                        data-form-url="{{ path('admin_user_edit', { 'id': user.id.toString() }) }}"
                        data-modal-title="Edit user"
                >
                    <span class="bi bi-pencil"></span>
                </button>
                {{ include('_modal.html.twig', { modalTitle: 'Edit user' }) }}
            </td>
            <td>
                {{ user.userIdentifier }}
                {% if is_granted('ROLE_SUPERUSER') and app.user !== user %}
                    <a href="{{ path('homepage') }}?_switch_user={{ user.userIdentifier }}"><span class="bi bi-person-bounding-box"></span></a>
                {% endif %}
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.tenant?.firmName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.logins|length }}</td>
            <td data-sort="{{ user.lastLogin ? user.lastLogin.loginTime|date("Y-m-d") : '' }}">
                {{ user.lastLogin ? user.lastLogin.loginTime|date("n/j/Y") : '' }}
            </td>
            <td>{{ user.roles|first }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
