{% extends 'base.html.twig' %}
{% set currentUrl = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'ajax': true }))) %}

{% block title %}User Admin{% endblock %}

{% block body %}
    <div class="container mt-4"
        {{ stimulus_controller('reload-content', {
            url: currentUrl
        }) }}
         data-action="modal-form:success->reload-content#refreshContent"
    >
        <div class="d-flex flex-row">
            <h1>Users</h1>

            <div class="ms-5" {{ stimulus_controller('modal-form', { formUrl: path('admin_user_new') }) }}>
                <button class="btn btn-primary btn-sm" data-action="modal-form#open">
                    Add <span class="fa fa-plus-circle"></span>
                </button>

                {{ include('_modal.html.twig', { modalTitle: 'Add a new user' }) }}
            </div>
        </div>
        {% if is_granted('ROLE_SUPERUSER') %}
            <div class="row">
                <div {{ stimulus_controller('admin--show-hidden') }} class="col-10 ms-auto">
                    <label for="showHiddenToggle">Show hidden?</label>
                    <input id="showHiddenToggle" type="checkbox" data-action="admin--show-hidden#toggleClass" data-toggle-class=".js-hidden-user">
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col ms-4" data-reload-content-target="content">
                {{ include('admin/user/_list.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
