{% set currentUrl = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'ajax': 1})) %}

{% extends 'base.html.twig' %}

{% block title %}Manage Internal Staff{% endblock %}

{% block body %}
    <div class="container"
            {{ stimulus_controller('reload-content', { url: currentUrl }) }}
            data-action="modal-form:success->reload-content#refreshContent"
    >
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-10 col-xl-8">
                <h1>Manage Internal Staff</h1>
            </div>
        </div>

        <div class="ms-4" {{ stimulus_controller('modal-form', {hideFullPageOpenButton: true}) }}>
            <p>Generate and manage secure single-use entry tokens for your <strong>internal</strong> staff.</p>
            <button class="btn btn-primary btn-sm"
                    data-action="modal-form#open"
                    data-form-url="{{ path('internal_staff_invite') }}"
                    data-modal-title="Invite Internal Staff Member"
            >
                <span class="bi bi-person-plus me-2"></span> Invite Internal Staff Member
            </button>

            {{ include('_modal.html.twig', { modalTitle: 'Invite Internal Staff Member' }) }}
        </div>

        <div class="row flex-xl-nowrap mt-5">
            <main class="col-12 col-md-10 col-xl-8" data-reload-content-target="content">
                {{ include('internal/staff/_invitation_list.html.twig') }}
            </main>
        </div>
    </div>
{% endblock %}
