{% extends 'base.html.twig' %}

{% block header_navigation %}
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('security_login') }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('drop_explainer') }}">Upload Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pricing">Pricing</a>
            </li>
        </ul>

        <div class="d-flex align-items-center gap-3">
{#            <a href="#" class="btn btn-sm btn-outline-secondary d-none d-lg-inline-block">Documentation</a>#}
            <a href="{{ path('security_login') }}" class="btn btn-sm btn-brand px-3 rounded-pill shadow-sm">Login</a>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-auto">
            <img src="{{ asset('images/FDP_logo_100.png') }}" alt="logo">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8 ms-4">
            The ultra-simple, HIPAA/SOC2-compliant document drop.
            <br />
            Send a secure, encrypted upload link to your clients in one click.
            <br />
            No portal account required for them to upload.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-10 col-xl-8">
            <h2>Features</h2>
            <ul class="larger">
                <li><strong class="larger">Security:</strong> FileDrop Pro features two-factor and passkey authentication,
                    and data encryption. All data is encrypted in transit and at rest.</li>

                <li><strong class="larger">Availability:</strong> FileDrop Pro is hosted on AWS with uptime monitoring, disaster recovery plans,
                    and regular backup.</li>

                <li><strong class="larger">Confidentiality:</strong> Access to data is restricted to personnel that you specify. Since data
                    is stored in an encrypted state, it is not accessible by any other party.

                <li><strong class="larger">Privacy:</strong> No personal information is shared with third parties.</li>
            </ul>
        </div>
    </div>
    <div class="row mt-5" id="pricing">
        <h2>Subscription Options</h2>
        {{ include('internal/billing/_plan_matrix.html.twig') }}
    </div>
    <div class="row mt-5">
        <h2>
            Try it for free! No credit card required.
            <a href="{{ path('register') }}" class="btn btn-primary ms-4">Sign up</a>
        </h2>
    </div>
</div>
{% endblock %}
