{{ include('flash_messages.html.twig') }}

<p>Invitations grant bypass access to security-joining restrictions and
    lock new user configurations directly to your
    <span style="font-weight: bold; text-decoration: underline">{{ app.user.tenant.firmName }}</span>
    business profile.
</p>
<p style="font-weight: bold;">Invitations should be sent with care since all internal staff members can access all documents
    that have been uploaded to this site.
</p>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    <button type="submit" class="btn btn-primary ms-3">
        Generate Secure Token and Send Email Invitation
    </button>
{{ form_end(form) }}
