{% set currentUrl = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'ajax': 1})) %}

{% extends 'base.html.twig' %}

{% block title %}Manage Document Requests - Internal Portal{% endblock %}

{% block body %}
    <div class="container"
            {{ stimulus_controller('reload-content', { url: currentUrl }) }}
            data-action="modal-form:success->reload-content#refreshContent"
    >
        <div class="row">
            <div class="col">
                <h1>Drop Request Management</h1>
                <p>Generate secure drop links, track pending client uploads, and manage active requests.</p>
            </div>
        </div>

        <div {{ stimulus_controller('modal-form', {hideFullPageOpenButton: true}) }}>
            <button class="btn btn-primary btn-sm"
                    data-action="modal-form#open"
                    data-form-url="{{ path('internal_requests_new') }}"
                    data-modal-title="Invite External Client"
            >
                Invite External Clients to Upload Files
            </button>

            {{ include('_modal.html.twig', { modalTitle: 'Invite External Client' }) }}
        </div>

        <div class="row mt-5" data-reload-content-target="content">
            <div class="col-md-8 col-12">
                <h3>Active & Historical Requests</h3>
                <p>Track the status of all secure document invitations sent from your firm.</p>

                {% include 'flash_messages.html.twig' %}

                {{ include('internal/_drop_request_list.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
