{% extends 'emails/email_base.html.twig' %}

{% block content %}
    <h2>Secure Document Request</h2>
    <p>Dear {{ clientName }},</p>

    <p><strong>{{ senderName }}</strong> at <strong>{{ firmName }}</strong>
        has requested that you upload files to their secure document vault.
    </p>

    {% if instructions is not empty %}
        <blockquote style="margin: 20px 0; padding-left: 15px; border-left: 3px solid #666; font-style: italic;">
            {{ instructions }}
        </blockquote>
    {% endif %}

    <button href="{{ dropUrl }}" class="button">Click Here To Upload Files</button>

    <p class="secondary-text">
        This document transfer system uses Client-Side End-to-End Encryption (E2EE).
        Only {{ senderName }} and their designated team members will be able to access your files.
    </p>
{% endblock %}
