{{ include('flash_messages.html.twig') }}

{% for client in clients %}
    <div class="row mb-5 border-left">
        <div class="col ms-4">
            <h2>Documents uploaded from <span style="text-decoration: underline">{{ client.clientName }}</span></h2>

            {% set activeDocuments = client.documents|filter(doc => doc.deletedAt === null) %}
            {% set deletedDocuments = client.documents|filter(doc => doc.deletedAt !== null) %}

            {% if client.documents|length > 0 %}
                <p>Total Storage Space for this client: <span style="text-decoration: underline;">{{ format_bytes(storageBytesByClient[client.id.toString]) }}</span></p>
            {% endif %}

            {% if activeDocuments|length > 0 %}
                <table class="table table-striped sortable">
                <thead>
                <tr>
                    <th>File</th>
                    <th>Uploaded date</th>
                    <th>Size</th>
                    <th class="no-sort">Status</th>
                    <th class="no-sort">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in activeDocuments %}
                    <tr>
                        <td>
                            <span class="bold" title="{{ doc.filePath }}">{{ doc.originalFileName|default(doc.filePath) }}</span>

                            <div data-controller="inline-edit"
                                 data-inline-edit-url-value="{{ path('internal_documents_update_note', {'id': doc.id.toString()}) }}"
                                 data-inline-edit-field-value="note"
                                 data-inline-edit-empty-value="No note added.">
                                <div data-inline-edit-target="display" class="mb-1">
                                    <span data-inline-edit-target="output">{{ doc.note|default('No note added.') }}</span>
                                    <a href="#" data-action="click->inline-edit#toggle"><span class="bi bi-pencil"></span></a>
                                </div>
                                <div data-inline-edit-target="form" class="d-none mt-2">
                                    <textarea class="form-control mb-2" data-inline-edit-target="input">{{ doc.note }}</textarea>
                                    <button class="btn btn-sm btn-success" data-action="click->inline-edit#save">Save</button>
                                    <button class="btn btn-sm btn-link" data-action="click->inline-edit#toggle">Cancel</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ doc.createdAt|date('M d, Y') }}
                            <br />
                            {{ doc.createdAt|date('g:i a') }}
                        </td>
                        <td class="nowrap">{{ format_bytes(doc.fileSize) }}</td>
                        <td class="nowrap"><span class="bi bi-lock-fill" style="color: green;"></span> Encrypted</td>
                        <td>
                            <button class="btn btn-sm btn-primary" type="button"
                                    data-action="click->document-viewer#decryptAndDownload"
                                    data-document-id="{{ doc.id.toString() }}"
                                    data-download-url="{{ path('internal_documents_payload', {'id': doc.id.toString()}) }}"
                                    data-metadata-url="{{ path('internal_documents_metadata', {'id': doc.id.toString()}) }}">
                                Decrypt & Download
                            </button>

                            <button class="btn btn-sm btn-danger" type="button"
                                    data-controller="sweetalert"
                                    data-action="click->sweetalert#remove"
                                    data-sweetalert-title-value="Delete document?"
                                    data-sweetalert-text-value="This action will mark the file for deletion in 10 days. Are you sure you want to continue?"
                                    data-sweetalert-delete-url-value="{{ path('internal_documents_soft_delete', {'id': doc.id.toString()}) }}"
                                    data-sweetalert-csrf-token-value="{{ csrf_token('delete_document_' ~ doc.id.toString()) }}">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="bold">No active documents uploaded.</p>
                <div {{ stimulus_controller('modal-form', {hideFullPageOpenButton: true}) }}>
                    <button class="btn btn-primary btn-sm ms-4 mb-3"
                            data-action="modal-form#open"
                            data-form-url="{{ path('internal_requests_new', { 'client_id': client.id.toString() }) }}"
                            data-modal-title="Invite External Client"
                    >
                        Invite this client to upload documents
                    </button>

                    {{ include('_modal.html.twig', { modalTitle: 'Invite External Client' }) }}
                </div>
            {% endif %}

            {% if deletedDocuments|length > 0 %}
            <div data-controller="toggle-visibility">
                <label class="mt-1">
                    Show Deleted Documents?
                    <input type="checkbox" class="js-toggle-visibility-documents"
                           data-action="change->toggle-visibility#toggle" />
                </label>

                <table class="table table-striped sortable d-none" data-toggle-visibility-target="element">
                    <thead>
                    <tr>
                        <th>Deleted Files</th>
                        <th>File info</th>
                        <th class="no-sort">Status</th>
                        <th class="no-sort">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for doc in deletedDocuments %}
                        <tr>
                            <td>
                                <span class="bold strikethrough" title="{{ doc.filePath }}">
                                    {{ doc.originalFileName|default(doc.filePath)|truncate_filename(20) }}
                                </span>
                                <div>{{ doc.note|default('No note added.') }}</div>
                            </td>
                            <td>
                                Uploaded: {{ doc.createdAt|date('M d, Y g:i a') }}
                                <br />
                                Deleted: {{ doc.deletedAt|date('M d, Y g:i a') }} by {{ doc.deletedBy.firstName }}
                                <br />
                                Size: {{ format_bytes(doc.fileSize) }}
                            </td>
                            <td class="nowrap">
                                <span class="bi bi-lock-fill" style="color: green;"></span> Encrypted
                                <br />
                                <span class="bi bi-trash3-fill" style="color: red;"></span> Deleted
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" type="button"
                                        data-controller="sweetalert"
                                        data-action="click->sweetalert#remove"
                                        data-sweetalert-title-value="Permanently delete document?"
                                        data-sweetalert-delete-url-value="{{ path('internal_documents_delete', {'id': doc.id.toString()}) }}"
                                        data-sweetalert-csrf-token-value="{{ csrf_token('delete_document_' ~ doc.id.toString()) }}">
                                    Permanently Delete
                                </button>
                                <button class="btn btn-sm btn-success" type="button"
                                        data-controller="sweetalert"
                                        data-action="click->sweetalert#remove"
                                        data-sweetalert-title-value="Restore document?"
                                        data-sweetalert-text-value="This action will restore the file to the active documents list. Continue?"
                                        data-sweetalert-confirm-button-text-value="Restore"
                                        data-sweetalert-delete-url-value="{{ path('internal_documents_restore', {'id': doc.id.toString()}) }}"
                                        data-sweetalert-csrf-token-value="{{ csrf_token('restore_document_' ~ doc.id.toString()) }}">
                                    Restore
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <p>
        No documents have been uploaded for this tenant yet.
        Invite clients to upload files by sending a <a href="{{ path('internal_requests_list') }}">drop request</a>.
    </p>
{% endfor %}
