{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-8 col-12"
                {{ stimulus_controller('sweetalert', {
                    submitAsync: true,
                    listUrl: app.request.headers.get('referer'),
                    deleteUrl: ''
                }) }}
            >
                <h1>Edit Account Information</h1>

                {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.credentials) }}
                    {{ form_row(form.cellNumber) }}

                    <button type="submit" class="btn btn-primary mt-3" formnovalidate>Update</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-primary mt-3" data-action="sweetalert#cancel">Cancel</button>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row ms-1 mt-4">
            <a href="{{ path('app_profile_change_password') }}">Change Password</a>
        </div>

        <div class="row ms-1 mt-4">
            <a href="{{ path('2fa_manage') }}">Manage 2FA (two-factor authentication)</a>
        </div>
    </div>
{% endblock %}
