{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Change Password</h1>
                <p>Safely update your login and E2EE re-encryption parameters in browser memory.</p>

                {{ include('flash_messages.html.twig') }}

                {# Stimulus-Linked Form Ceremony Wrapper #}
                <div data-controller="password-update"
                     data-password-update-mode-value="change"
                     data-password-update-encrypted-private-key-value="{{ encryptedPrivateKey|escape('html_attr') }}">

                    {# Javascript Progress Status Alerts #}
                    <div data-password-update-target="statusIndicator" class="d-none" role="alert"></div>

                    {{ form_start(form, {
                        'action': path('app_profile_change_password'),
                        'method': 'POST',
                        'attr': {
                            'data-action': "submit->password-update#executeCeremony",
                            'data-password-update-target': 'form'
                        }
                    }) }}
                        {{ form_row(form.currentPassword) }}
                        {{ form_row(form.newPassword) }}
                        {{ form_row(form.confirmPassword) }}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-success ms-4" data-password-update-target="submitButton">
                            Re-encrypt & Update Password
                        </button>
                        <a href="{{ path('login_redirect') }}" class="btn btn-link">Cancel</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
