{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Reset Password for user {{ username }}</h2>

                {{ form_start(form) }}
                    {{ form_row(form.plainPassword.first, {
                        'label': 'Password',
                        'row_attr': {'class': 'form-floating'},
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label': 'Repeat password',
                        'row_attr': {'class': 'form-floating'},
                    }) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>Change password</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}