{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Reset Password for user {{ email }}</h2>

                {{ form_start(form) }}
                    {{ form_row(form.plainPassword.first, {
                        'label': 'New password',
                        'attr': {'autocomplete': 'off', 'readonly': true, 'onfocus': 'this.removeAttribute("readonly");'},
                        'row_attr': {'class': 'form-floating mb-2'},
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label': 'Repeat password',
                        'attr': {'autocomplete': 'off', 'readonly': true, 'onfocus': 'this.removeAttribute("readonly");'},
                        'row_attr': {'class': 'form-floating mb-2'},
                    }) }}
                    <button type="submit" class="btn btn-success" formnovalidate>Change password</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
