{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6" {{ stimulus_controller('sweetalert', {
                submitAsync: true,
                listUrl: app.request.headers.get('referer'),
                deleteUrl: ''
            }) }}
            >
                <h2>Set Password for user {{ email }}</h2>

                {{ form_start(form) }}
                    {{ form_row(form.plainPassword.first, {
                        'label': 'Password',
                        'row_attr': {'class': 'form-floating'},
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label': 'Repeat password',
                        'row_attr': {'class': 'form-floating'},
                    }) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
